@model RentalsProject.Models.RentalListing

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Rental Listing</h1>

<h3>Are you sure you want to delete this Rental Listing?</h3>

<hr />

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ListingSummary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ListingSummary)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ListingDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ListingDetails)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ListingAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ListingAddress)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CivicNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CivicNumber)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StreetName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StreetName)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Province)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Province)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostalCode)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ListingPricePerDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ListingPricePerDay)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfBedrooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfBedrooms)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfBathrooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfBathrooms)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SizeInSquareFeet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SizeInSquareFeet)
        </dd>

        @if (Model.HasRentalImage)
        {
            <dt>
                @Html.DisplayFor(model => model.RentalImageId)
            </dt>
            <dd>
                <a asp-action="Display" asp-controller="Image" asp-route-id="@Model.RentalImageId">
                    <img src="@Url.Action("Display","Image", new {Id = Model.RentalImageId})" alt="Rental Image" />
                </a>
            </dd>
        }
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
